
{% extends "navbar.html" %}
{% block ok %} 
{% load static%}





<section class="about" id="about">
    <h1 class="hadding">about<span>us</span></h1>
    <div class="row">
    <div class="imge">
    <img class="ico" src="{% static "image/Medicine (1).gif" %}" style="">
    </div>
    <div class="contant">
    <h3>we take care of youre<br> 
        <br>
        <br>
        <br>
      
   
      healthy</h3>
  
    <br>
    <br>
    <p>A health care institution that provides treatment for patients by specialized medical and nursing staff</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita cum tempore possimus cumque provident iste aut explicabo eveniet veniam. Laborum?</p>
    <a href="#" class="btn">more<span class="fa-solid fa-circle-chevron-right"></span></a>
    </div>
    
    </div>
    
    
    </section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    {% endblock ok %}