{% extends "navbar.html" %}
{% block ok %}
{% load static %}

<section class="home" id="home">
    <div class="imge">
    <img src="{% static 'image/Medicine.gif'%}">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    </div>
    <div class="contant" style="position: relative;right: 200px;">
      <br>
      <br>
      <br>
      <br>
      <a class="logo" href="#" style="font-style: italic;"><i class="fa-solid fa-heart-pulse"></i>medical</a>
    
      <h1>made by_jassim/it4</h1>
    <h3>stay safe,stay healthy</h3>
    <p> Importance of attention to<br> patient health:
      - The positive impact on improving<br> the healing process.
      <br>Use technology to promote safety:
      - The role of technology in <br>improving patient follow-up systems.
      - Technological innovations in <br>improving health care.
      
    
      </p>
    <a href="#" class="btn">more<span class="fa-solid fa-circle-chevron-right"></span></a>
    </div>
    
    
    
    
    </section>

 
    {% endblock ok %}