{% extends "navbar.html" %}
{% block ok %} 
 {% load static %}
 



  <section class="serves" id="serves">
    <h1 class="hadding">our<span>serves</span></h1>
    <div class="box-father">
    
    <div class="box">
      <i class="fa-solid fa-notes-medical"></i>
      <br>
      <h3>free chekup</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, optio voluptas laborum odit maiores itaque.</p>
      <a href="#" class="btn">more<span class="fa-solid fa-circle-chevron-right"></span></a>
    </div>
    <div class="box">
      <i class="fa-solid fa-truck-medical"></i>
      <h3>24/7 ambulance</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, optio voluptas laborum odit maiores itaque.</p>
      <a href="#" class="btn">more<span class="fa-solid fa-circle-chevron-right"></span></a>
    </div>
    <div class="box">
      <i class="fa-solid fa-user-doctor"></i>
      <h3>expert doctore</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, optio voluptas laborum odit maiores itaque.</p>
      <a href="#" class="btn">more<span class="fa-solid fa-circle-chevron-right"></span></a>
    </div>
    <div class="box">
      <i class="fa-solid fa-briefcase-medical"></i>
      <br>
      <h3>midicense</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, optio voluptas laborum odit maiores itaque.</p>
      <a href="#" class="btn">more<span class="fa-solid fa-circle-chevron-right"></span></a>
    </div>
    
    <div class="box">
      <i class="fa-solid fa-hand-holding-heart"></i>
      <br>
      <h3>total care</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, optio voluptas laborum odit maiores itaque.</p>
      <a href="#" class="btn">more<span class="fa-solid fa-circle-chevron-right"></span></a>
    </div>
    
    </div>
      
    </section>

  {% endblock ok %}